<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqgml.sign.mapper.MeetingMapper">
  <resultMap id="BaseResultMap" type="com.hqgml.sign.pojo.Meeting">
    <!--@mbg.generated generated on Wed Feb 05 00:00:53 CST 2020.-->
    <!--@Table meeting-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="add_id" jdbcType="INTEGER" property="addId" />
    <result column="address_name" jdbcType="VARCHAR" property="addressName" />
    <result column="meeting_address" jdbcType="VARCHAR" property="meetingAddress" />
    <result column="meeting_name" jdbcType="VARCHAR" property="meetingName" />
    <result column="start_time" jdbcType="VARCHAR" property="startTime" />
    <result column="end_time" jdbcType="VARCHAR" property="endTime" />
    <result column="meeting_phone" jdbcType="VARCHAR" property="meetingPhone" />
    <result column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="lng" jdbcType="DOUBLE" property="lng" />
    <result column="lat" jdbcType="DOUBLE" property="lat" />
    <result column="information" jdbcType="LONGVARCHAR" property="information" />
      <collection property="persionNumber" jdbcType="INTEGER" column="id" select="com.hqgml.sign.mapper.MeetingPersionMapper.countByMid"/>

  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Wed Feb 05 00:00:53 CST 2020.-->
    id, add_id, address_name, meeting_address, meeting_name, start_time, end_time, meeting_phone, 
    uuid, lng, lat, information
  </sql>

    <!--auto generated by MybatisCodeHelper on 2020-01-09-->
    <select id="countByAddId" resultType="java.lang.Integer">
        select count(1)
        from meeting
        where add_id=#{addId,jdbcType=INTEGER}
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-01-16-->
    <select id="selectAllByAddId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from meeting
        where add_id=#{addId,jdbcType=INTEGER}
        <if test="meetingName != null">
            and meeting_name like concat('%', #{meetingName,jdbcType=VARCHAR},'%')
        </if>
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-01-16-->
    <delete id="deleteById">
        delete from meeting
        where id=#{id,jdbcType=INTEGER}
    </delete>

    <!--auto generated by MybatisCodeHelper on 2020-01-19-->
    <select id="findOneById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from meeting
        where id=#{id,jdbcType=INTEGER}
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-01-19-->
    <select id="findOneByMeetingName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from meeting
        where meeting_name=#{meetingName,jdbcType=VARCHAR}
    </select>

<!--auto generated by MybatisCodeHelper on 2020-01-23-->
    <select id="findOneByUuid" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from meeting
        where uuid=#{uuid,jdbcType=VARCHAR}
    </select>

<!--auto generated by MybatisCodeHelper on 2020-01-24-->
    <select id="selectById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from meeting
        where id=#{id,jdbcType=INTEGER}
    </select>

<!--auto generated by MybatisCodeHelper on 2020-01-26-->
    <select id="count" resultType="java.lang.Integer">
        select count(1)
        from meeting
        <if test="_parameter != null">
            and add_id=#{addId,jdbcType=INTEGER}
        </if>
    </select>

<!--auto generated by MybatisCodeHelper on 2020-02-05-->
  <select id="selectAllByMeetingNameLike" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from meeting
        where meeting_name like concat('%',#{likeMeetingName,jdbcType=VARCHAR},'%')
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-02-09-->
    <select id="findMeetingByPerson" resultMap="BaseResultMap">
        SELECT
        id,meeting_name,start_time,end_time,IsCheck
        FROM  meeting,meeting_persion
        WHERE id=mid AND pid=#{id,jdbcType=INTEGER}
    </select>

<!--auto generated by MybatisCodeHelper on 2020-08-01-->
  <select id="selectAllAdmin" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from meeting

    </select>


</mapper>